doctype html
head
  meta(charset='UTF-8')
  meta(name='view port' content='width=device-width,initial-scale=1.0')
  title Profile
  link(rel='stylesheet' href='profile.css')
  script(src='https://kit.fontawesome.com/2c8b4361dd.js' crossorigin='anonymous')
section.background
  nav
    .menu
      ul
        li Home
        li Route matching
        li Long trip
        li Rent
        li
          b Profile
  .image
    img(src='profile.jpg')
  .content
    h1 Rani
    br
    h2
      a(href='rani2000@gmail.com') rani2000@gmail.com
    br
    h2 8590633525
    br
    .rating
      span.fa.fa-star
      span.fa.fa-star
      span.fa.fa-star
      span.fa.fa-star
      span.fa.fa-star
  button sign out
  section.empty
    .e
  section.rate
    h1 Top Rating
  section.comments
    .c1
      p
        | hcbfheagbfhkbadfghejdbf
        br
        | vhdsgfkadjbfdsbgf
    .c1
      p
        | dhgfuwygfuygrfukhrigf
        br
        | jhfuihfeugfuwrhgwkjrhg
    .c1
      p
        | hfgurygfwriygfiwugfiwry
        br
        | jshfwbfwjfygqifjhjdyfgtqfqihgf