doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Search for similar routes
    style.
      *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'inter', sans-serif;
      }
      .container{
      width: 100%;
      height: 100vh;
      padding: 5%;
      background-image: linear-gradient(rgba(69, 82, 62, 0.9),rgba(69, 82, 62, 0.9)),url(assets/images/bg_img.jpg);
      background-position: center;
      background-size: cover;
      }
      .findButton{
      border: 0;
      border-radius: 8px;
      margin: 10px 0;
      padding:20px;
      width: 80%;
      outline: none;
      background: #AD5D50;
      }
      .findRoute{
      color: #fff;
      }
      .formRow{
      flex-direction: row;
      display: inline;
      border: 0;
      width: 100%;
      border-radius: 8px;
      /* margin: 10px 0; */
      /* padding:20px; */
      outline: none;
      }
      form{
      /* background-color: #D9D9D9; */
      display: flex;
      flex-direction: column;
      padding: 2vw,4vw;
      width: 90%;
      }
      .findtext{
      color: #ffff;
      }
      form input,form textarea{
      border: 0;
      border-radius: 8px;
      margin: 10px 0;
      padding:20px;
      outline: none;
      background: #D9D9D9;
      }
      nav{
      background-color:  #010101;
      color: #f5ece5;
      }
      /* menu */
      .menu ul li{
      display: inline-flex;
      list-style-type: none;
      font-size: 16px;
      padding: 15px;
      font-family: poppins, sans-serif;
      }
      .menu{
      text-align: right;
      }
    // <link rel="stylesheet" href="style/routmatch_style.css">
  body
    nav
      .menu
        ul
          li Home
          li
            b Route matching
          li Long trip
          li Rent
          li Profile
    .container
      h1.findRoute Find Route
      form(action='routmatch_result.html', method='get')
        input(type='text', placeholder='start position', name='startPosition')
        input(type='text', placeholder='destination', name='destination')
        .formRow
          input(type='date', value='2017-06-01')
          button.findButton(type='submit')
            h4.findtext Find